<aside class="slide-content">
  <button class="close-drawer-button">
    <span class="x"><span>
  </button>
  <div class="slide-content-wrapper slide-explore active">
    <div class="explore-nav-wrapper">
      <nav>
        <ul>
          <li class="tab-nav tab-toggle tab-active explore-nav-area" data-toggle="explore-area">Explore Montecio</li>
          <li class="tab-nav tab-toggle explore-nav-stay" data-toggle="stay">Where to Stay</li>
          <li class="tab-nav tab-toggle explore-nav-do" data-toggle="do">What to do</li>
          <li class="tab-nav tab-toggle explore-nav-eat" data-toggle="eat">Where to Eat</li>
          <li class="tab-nav tab-toggle explore-nav-events" data-toggle="events">Area Events</li>
          <li class="tab-nav tab-toggle explore-nav-beach" data-toggle="beach">Beach Guide</li>
          <li class="tab-nav tab-toggle explore-nav-other" data-toggle="other-destinations">View Other Destinations</li>
        </ul>
      </nav>
    </div>
    <div class="explore-content-wrapper">
      <article id="explore-area" class="tab-pane pane-active">
        <header>
          <dl>
            <dt>
              Explore
            </dt>
            <dd>
              Montecito
            </dd>
          </dl>
          <p>In finibus, massa ultrices porta tincidunt, ex tortor dictum risus, nec venenatis massa enim in nulla. Sed luctus diam molestie convallis lacinia. Donec a laoreet purus. Nam laoreet volutpat arcu in suscipit. Fusce cursus urna erat, at sodales mi condimentum sodales. Nam interdum semper luctus. Sed pharetra tellus at tincidunt lacinia. Proin id pharetra neque, eget iaculis lorem. <a href="#">Read More</a></p>
        </header>
        <nav class="slide-secondary-nav">
          <ul>
            <li>
              <a href="#" class="btn-icon btn-explore-stay">Where to Stay</a>
            </li>
            <li>
              <a href="#" class="btn-icon btn-explore-do">What to Do</a>
            </li>
            <li>
              <a href="#" class="btn-icon btn-explore-eat">Where to eat</a>
            </li>
          </ul>
        </nav>
      </article>
      <article id="do" class="tab-pane">
        <header>
          <dl>
            <dt>
              What To Do
            </dt>
            <dd>
              Montecito
            </dd>
          </dl>
          <p>In finibus, massa ultrices porta tincidunt, ex tortor dictum risus, nec venenatis massa enim in nulla. Sed luctus diam molestie convallis lacinia. Donec a laoreet purus. Nam laoreet volutpat arcu in suscipit. <a href="#">Read More</a></p>
        </header>
        <div class="explore-content-main">
          <div class="row">
            <div class="col-sm-4">
              <%= image_tag('mock-explore-content-image.jpg', :class => "img-responsive") %>
              <h2>
                Santa Barbara Wineries
              </h2>
              <p>
                In finibus, massa ultrices porta tincidunt, ex tortor dictum risus, nec venenatis massa enim in nulla. Donec a laoreet purus. Nam laoreet volutpat arcu in suscipit. <a href="#">Read More</a>
              </p>
            </div>
            <div class="col-sm-4">
              <%= image_tag('mock-explore-content-image.jpg', :class => "img-responsive") %>
              <h2>
                Santa Barbara Wineries
              </h2>
              <p>
                In finibus, massa ultrices porta tincidunt, ex tortor dictum risus, nec venenatis massa enim in nulla. Donec a laoreet purus. Nam laoreet volutpat arcu in suscipit. <a href="#">Read More</a>
              </p>
            </div>
            <div class="col-sm-4">
              <%= image_tag('mock-explore-content-image.jpg', :class => "img-responsive") %>
              <h2>
                Santa Barbara Wineries
              </h2>
              <p>
                In finibus, massa ultrices porta tincidunt, ex tortor dictum risus, nec venenatis massa enim in nulla. Donec a laoreet purus. Nam laoreet volutpat arcu in suscipit. <a href="#">Read More</a>
              </p>
            </div>
          </div>
        </div>
        <nav class="explore-secondary-nav">
          <ul>
            <li>
              <a href="#" class="btn-icon btn-explore-read">Read More About What to do in Montecito</a>
            </li>
          </ul>
        </nav>
      </article>
      <article id="eat" class="tab-pane">
        <header>
          <div class="row">
            <div class="col-sm-12">
              <h1>
                Seacrest Beach
              </h1>
              <h2>
                30A's Emerald Coast has never looked so appealing
              </h2>
              <p>In finibus, massa ultrices porta tincidunt, ex tortor dictum risus, nec venenatis massa enim in nulla. Sed luctus diam molestie convallis lacinia. Donec a laoreet purus. Nam laoreet volutpat arcu in suscipit. Fusce cursus urna erat, at sodales mi condimentum sodales. Nam interdum semper luctus. Sed pharetra tellus at tincidunt lacinia. Proin id pharetra neque, eget iaculis lorem.</p>
            </div>
          </div>
        </header>
        <div class="row">
          <div class="col-sm-6">
            <%= image_tag("article-image-01.jpg", :class => 'img-responsive') %>
            <h2>
              30A's Emerald Coast has never
            </h2>
            <p>
              In finibus, massa ultrices porta tincidunt, ex tortor dictum risus
            </p>
          </div>
          <div class="col-sm-6">
            <%= image_tag("article-image.jpg", :class => 'img-responsive') %>
            <h2>
              30A's Emerald Coast has never
            </h2>
            <p>
              In finibus, massa ultrices porta tincidunt, ex tortor dictum risus
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= image_tag("article-image.jpg", :class => 'img-responsive') %>
            <h2>
              30A's Emerald Coast has never
            </h2>
            <p>
              In finibus, massa ultrices porta tincidunt, ex tortor dictum risus
            </p>
          </div>
          <div class="col-sm-6">
            <%= image_tag("article-image-01.jpg", :class => 'img-responsive') %>
            <h2>
              30A's Emerald Coast has never
            </h2>
            <p>
              In finibus, massa ultrices porta tincidunt, ex tortor dictum risus
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="slide-content-wrapper slide-contact">
    <div class="content-wrapper">
      <header>
        <h1>
          Hi! I'm Erin
        </h1>
        <div class="mug-circle">
          <%= image_tag('team-01.jpg') %>
        </div>
        <p>In finibus, massa ultrices porta tincidunt, ex tortor dictum risus, nec venenatis massa enim in nulla. Sed luctus diam molestie convallis lacinia. Donec a laoreet purus. Nam laoreet volutpat arcu in suscipit. Fusce cursus urna erat, at sodales mi condimentum sodales. Nam interdum semper luctus.</p>
      </header>
      <nav class="slide-secondary-nav">
        <ul>
          <li>
            <a href="#" class="btn-icon btn-contact-call">Call 760.264.9497</a>
          </li>
          <li>
            <a href="#" class="btn-icon btn-contact-chat">Start Chat</a>
          </li>
          <li>
            <a href="#" class="btn-icon btn-contact-email">Reservations@invitedhome.com</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="slide-content-wrapper slide-share">
    <div class="content-wrapper">
      <header>
        <h1>
          Rally The Troops
        </h1>
        <p>In finibus, massa ultrices porta tincidunt, ex tortor dictum risus, nec venenatis massa enim in nulla. Sed luctus diam molestie convallis lacinia. Donec a laoreet purus. Nam laoreet volutpat arcu in suscipit. Fusce cursus urna erat, at sodales mi condimentum sodales. Nam interdum semper luctus.</p>
      </header>
      <nav class="slide-secondary-nav">
        <ul>
          <li>
            <a href="#" class="btn-icon btn-share-social">Share via Social</a>
          </li>
          <li>
            <a href="#" class="btn-icon btn-share-email">Share via Email</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="slide-content-wrapper slide-slideshow">
    <div class="slideshow-wrapper">
      <div class="carousel-wrapper">
        <div class="owl-carousel">
          <div class="item">
            <div class="row slide-metadata">
              <div class="col-sm-8">
                <p>In finibus, massa ultrices porta tincidunt, ex tortor dictum risus, nec venenatis massa enim in nulla. Sed luctus diam molestie convallis lacinia. Donec a laoreet purus. Nam laoreet volutpat arcu in suscipit. Fusce cursus urna erat, at sodales mi condimentum sodales. Nam interdum semper luctus.</p>
              </div>
              <div class="col-sm-4">
                <nav class="slide-secondary-nav">
                  <ul>
                    <li>
                      <a href="#" class="btn-icon btn-share-social">Share via Social</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <%= image_tag('test-photo-02.jpg'); %>
          </div>
          <div class="item">
            <div class="row slide-metadata">
              <div class="col-sm-8">
                <p>In finibus, massa ultrices porta tincidunt, ex tortor dictum risus, nec venenatis massa enim in nulla. Sed luctus diam molestie convallis lacinia. Donec a laoreet purus. Nam laoreet volutpat arcu in suscipit. Fusce cursus urna erat, at sodales mi condimentum sodales. Nam interdum semper luctus.</p>
              </div>
              <div class="col-sm-4">
                <nav class="slide-secondary-nav">
                  <ul>
                    <li>
                      <a href="#" class="btn-icon btn-share-social">Share via Social</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <%= image_tag('test-photo-02.jpg'); %>
          </div>
          <div class="item">
            <div class="row slide-metadata">
              <div class="col-sm-8">
                <p>In finibus, massa ultrices porta tincidunt, ex tortor dictum risus, nec venenatis massa enim in nulla. Sed luctus diam molestie convallis lacinia. Donec a laoreet purus. Nam laoreet volutpat arcu in suscipit. Fusce cursus urna erat, at sodales mi condimentum sodales. Nam interdum semper luctus.</p>
              </div>
              <div class="col-sm-4">
                <nav class="slide-secondary-nav">
                  <ul>
                    <li>
                      <a href="#" class="btn-icon btn-share-social">Share via Social</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <%= image_tag('test-photo-02.jpg'); %>
          </div>
        </div>
        <div class="slide-number">
          <p>
            <span class="currentItem"></span>/<span class="owlItems"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="slide-content-wrapper slide-search">
    <div class="content-wrapper search-wrapper">
      <header>
        <dl>
          <dt>
            Search
          </dt>
          <dd>
            6 Homes Fit Your Needs
          </dd>
        </dl>
      </header>
      <form action="https://invitedhome.com/search" method="get" id="search_form">
        <div class="hidden" data-range_submitter="true" data-start="input[name=start_date]" data-end="input[name=end_date]"></div>
        <div class="hidden" data-range_submitter="true" data-start="input[name=min_sleeps]" data-end="input[name=max_sleeps]"></div>
        <div class="hidden" data-range_submitter="true" data-start="input[name=min_bedrooms]" data-end="input[name=max_bedrooms]"></div>
        <div class="hidden" data-range_submitter="true" data-start="input[name=min_price]" data-end="input[name=max_price]"></div>
        <input name="search_location_id" type="hidden" value="12" data-submit-proxy="true">
        <div class="filter" data-tab-group="true">
          <div class="filter-group">
            <div class="row">
              <div class="filter-section col-sm-4">
                <div class="filter-box filter-arrival" data-date-picker="true" data-sub-type="FrontEndDatePickerLoader" data-tab-trigger="true" data-tab-target-id="start_date_filter">
                  <h2 class="filter-title">Arrival Date</h2>
                  <input name="start_date" class="filter-arrivalin" style="display: none;">
                  <div class="filter-selectionbox">
                    <div class="filter-selection">December 20, 2015</div>
                  </div>
                </div>
              </div>
              <div class="filter-section col-sm-4">
                <div class="filter-box filter-departure" data-date-picker="true" data-sub-type="FrontEndDatePickerLoader" data-tab-trigger="true" data-tab-target-id="end_date_filter">
                  <input name="end_date" class="filter-departurein" style="display: none;">
                  <h2 class="filter-title">Departure Date</h2>
                  <div class="filter-selectionbox">
                    <div class="filter-selection filter-not-set">Select A Date</div>
                  </div>
                </div>
              </div>
              <div class="filter-section col-sm-4">
                <div class="filter-box">
                  <div class="filter-sleeps" data-tab-trigger="true" data-tab-target-id="sleeps_filter">
                    <div class="filter-title">Number of Guest</div>
                    <div class="filter-selectionbox">
                      <div class="filter-selection"><span class="filter-lowval" id="min_sleeps_mirror">0</span>-<span class="filter-highval" id="max_sleeps_mirror">30</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-group">
            <div class="row">
              <div class="filter-section col-sm-4">
                <div class="filter-box filter-departure" data-date-picker="true" data-sub-type="FrontEndDatePickerLoader" data-tab-trigger="true" data-tab-target-id="end_date_filter">
                  <input name="end_date" class="filter-departurein" style="display: none;">
                  <h2 class="filter-title">Number of Bedrooms</h2>
                  <div class="filter-selectionbox">
                    <div class="filter-selection filter-not-set">Not Set</div>
                  </div>
                </div>
              </div>
              <div class="filter-section col-sm-4">
                <div class="filter-box filter-departure" data-date-picker="true" data-sub-type="FrontEndDatePickerLoader" data-tab-trigger="true" data-tab-target-id="end_date_filter">
                  <input name="end_date" class="filter-departurein" style="display: none;">
                  <h2 class="filter-title">Number Of Bathrooms</h2>
                  <div class="filter-selectionbox">
                    <div class="filter-selection filter-not-set">Not Set</div>
                  </div>
                </div>
              </div>
              <div class="filter-section col-sm-4">
                <div class="filter-box filter-hometype" data-tab-trigger="true" data-tab-target-id="hometype_filter">
                  <h2 class="filter-title">Type of Home</h2>
                  <div class="filter-selectionbox">
                    <div class="filter-selection filter-not-set">Not Set</div>
                  </div>
                  <div class="filter-adjbox filter-list" style="display: none;" data-tab-id="hometype_filter">
                    <div class="filter-listitem" data-field-filler="true" data-sub-type="CollaborativeFieldFiller" data-target="input[name=search_hometype_id]" data-value="4">Home</div>
                    <div class="filter-listitem" data-field-filler="true" data-sub-type="CollaborativeFieldFiller" data-target="input[name=search_hometype_id]" data-value="4">Townhouse</div>
                    <div class="filter-listitem" data-field-filler="true" data-sub-type="CollaborativeFieldFiller" data-target="input[name=search_hometype_id]" data-value="4">Condo</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-group filter-slider">
            <div class="row">
              <div class="col-sm-12">
                <header>
                  <dl>
                    <dt>Price Per Night Between</dt>
                    <dd><span id="slider-lower"></span> &amp; <span id="slider-upper"></span></dd>
                  </dl>
                </header>
                <div class="slider" id="sliderPrice"></div>
              </div>
              </div>
            </div>
            <div class="filter-group">
              <header>
                <h2 class="filter-title">Neighborhoods in Santa Barbara</h2>
              </header>
              <ul class="neighborhood-list">
                <li><%= link_to( "Goleta", "#") %></li>
                <li><%= link_to( "Santa Barbara North", "#") %></li>
                <li><%= link_to( "Mesa", "#") %></li>
                <li><%= link_to( "Mission Canyon", "#") %></li>
                <li><%= link_to( "West Beach", "#") %></li>
                <li><%= link_to( "Upper East Side", "#") %></li>
                <li><%= link_to( "Downtown", "#") %></li>
                <li><%= link_to( "Carpinteria", "#") %></li>
                <li><%= link_to( "Montecito", "#", :class => "active") %></li>
                <li><%= link_to( "Funk Zone", "#") %></li>
                <li><%= link_to( "Riviera", "#") %></li>
                <li><%= link_to( "Hope Ranch Annex", "#") %></li>
            </div>
          </div>
          <div class="filter-section hidden filter-submit">
            <input class="filter-button" type="submit" value="Update Filters">
          </div>
        </div> <!-- end .filter -->
      </form>
    </div>
  </div>
</aside>