<div class="explore-mask" style="display: none;"></div>
<section class="slide-content">
  <button class="close-drawer-button">X</button>
  <div class="slide-content-wrapper" style="display: none;">
    <h1>Learn More About Tahoe</h1>

    <p>
      This is a bunch of explore content
    </p>
  </div>
</section>


<section class="center-photo-section">
  
  <div class="photo-background">
    <%= image_tag('content-tahoe.jpg') %>
  </div>

  <div class="copy">
    <div class="header-container">
      <div class="text-wrapper">
        <div class="header-logo">
          <%= image_tag('logo.png', :class => 'img-responsive'); %>
        </div>
        <div class="blurb">
          <h1>
            Duis ligula orci, scelerisque ac enim sed
          </h1>

          <p>
            Quisque venenatis sollicitudin urna, nec suscipit velit faucibus non.
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="section-full">
  <h1>
    Duis ligula orci, scelerisque ac enim sed
  </h1>
  <h2>
    Quisque venenatis sollicitudin urna, nec suscipit velit faucibus non.
  </h2>

  <div class="row">
    <div class="col-sm-6">
      <p>
        Phasellus a venenatis nisi. Quisque venenatis sollicitudin urna, nec suscipit velit faucibus non. Donec nulla ligula, faucibus at nulla eget, accumsan finibus nibh. Proin auctor pharetra nisl, at posuere elit tincidunt at. Sed volutpat, ex non malesuada cursus, arcu lacus tincidunt justo, vitae volutpat lorem lectus id nulla. Integer auctor semper diam. Etiam eget velit non nibh mattis congue.
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        Vivamus consequat eget mi ut aliquet. Sed vehicula egestas tincidunt. Vivamus vitae rutrum metus. Maecenas non ligula massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus rutrum dignissim felis, vel consequat tortor molestie non. Morbi vel odio turpis.
      </p>

      <p>
        Phasellus a venenatis nisi. Quisque venenatis sollicitudin urna, nec suscipit velit faucibus non. Donec nulla ligula, faucibus at nulla eget, accumsan finibus nibh. Proin auctor pharetra nisl, at posuere elit tincidunt at. Sed volutpat, ex non malesuada cursus, arcu lacus tincidunt justo, vitae volutpat lorem lectus id nulla. Integer auctor semper diam. Etiam eget velit non nibh mattis congue.
      </p>
    </div>
  </div>
</section>

<section class="section-full no-padding">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag('box-content-full.jpg', :class => 'img-responsive', :style => 'width: 100%;') %>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-6">
      <%= image_tag('box.jpg', :class => 'img-responsive') %>
    </div>
    <div class="col-sm-6">
      <%= image_tag('box.jpg', :class => 'img-responsive') %>
    </div>
  </div>
</section>

<section class="section-full">
  <div class="row">
    <div class="col-sm-6">
      <p>
        Phasellus a venenatis nisi. Quisque venenatis sollicitudin urna, nec suscipit velit faucibus non. Donec nulla ligula, faucibus at nulla eget, accumsan finibus nibh. Proin auctor pharetra nisl, at posuere elit tincidunt at. Sed volutpat, ex non malesuada cursus, arcu lacus tincidunt justo, vitae volutpat lorem lectus id nulla. Integer auctor semper diam. Etiam eget velit non nibh mattis congue. Phasellus a venenatis nisi. Quisque venenatis sollicitudin urna, nec suscipit velit faucibus non. Donec nulla ligula, faucibus at nulla eget, accumsan finibus nibh. Proin auctor pharetra nisl, at posuere elit tincidunt at. Sed volutpat, ex non malesuada cursus, arcu lacus tincidunt justo, vitae volutpat lorem lectus id nulla. Integer auctor semper diam. Etiam eget velit non nibh mattis congue.
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        Vivamus consequat eget mi ut aliquet. Sed vehicula egestas tincidunt. Vivamus vitae rutrum metus. Maecenas non ligula massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus rutrum dignissim felis, vel consequat tortor molestie non. Morbi vel odio turpis.
      </p>

      <p>
        Phasellus a venenatis nisi. Quisque venenatis sollicitudin urna, nec suscipit velit faucibus non. Donec nulla ligula, faucibus at nulla eget, accumsan finibus nibh. Proin auctor pharetra nisl, at posuere elit tincidunt at. Sed volutpat, ex non malesuada cursus, arcu lacus tincidunt justo, vitae volutpat lorem lectus id nulla. Integer auctor semper diam. Etiam eget velit non nibh mattis congue.
      </p>
    </div>
  </div>
</section>

<section class="section-full no-padding">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag('box-video.jpg', :class => 'img-responsive', :style => 'width: 100%;') %>
    </div>
  </div>
</section>

<section class="section-full">
  <div class="row">
    <div class="col-sm-6">
      <p>
        Phasellus a venenatis nisi. Quisque venenatis sollicitudin urna, nec suscipit velit faucibus non. Donec nulla ligula, faucibus at nulla eget, accumsan finibus nibh. Proin auctor pharetra nisl, at posuere elit tincidunt at. Sed volutpat, ex non malesuada cursus, arcu lacus tincidunt justo, vitae volutpat lorem lectus id nulla. Integer auctor semper diam. Etiam eget velit non nibh mattis congue. Phasellus a venenatis nisi. Quisque venenatis sollicitudin urna, nec suscipit velit faucibus non. Donec nulla ligula, faucibus at nulla eget, accumsan finibus nibh. Proin auctor pharetra nisl, at posuere elit tincidunt at. Sed volutpat, ex non malesuada cursus, arcu lacus tincidunt justo, vitae volutpat lorem lectus id nulla. Integer auctor semper diam. Etiam eget velit non nibh mattis congue.
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        Vivamus consequat eget mi ut aliquet. Sed vehicula egestas tincidunt. Vivamus vitae rutrum metus. Maecenas non ligula massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus rutrum dignissim felis, vel consequat tortor molestie non. Morbi vel odio turpis.
      </p>

      <p>
        Phasellus a venenatis nisi. Quisque venenatis sollicitudin urna, nec suscipit velit faucibus non. Donec nulla ligula, faucibus at nulla eget, accumsan finibus nibh. Proin auctor pharetra nisl, at posuere elit tincidunt at. Sed volutpat, ex non malesuada cursus, arcu lacus tincidunt justo, vitae volutpat lorem lectus id nulla. Integer auctor semper diam. Etiam eget velit non nibh mattis congue.
      </p>
    </div>
  </div>
</section>

<section class="section-full">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Duis sit amet est nibh.
      </h1>
      <h2>
        Aliquam ac purus ut erat volutpat faucibus
      </h2>
    </div>
  </div>
</section>

<section class="section-full no-padding">
  <%= image_tag('property-map.jpg', :class => 'img-responsive') %>
</section>

<section class="section-full no-padding">
  <h1>
    Duis sit amet est nibh.
  </h1>
  <h2>
    Aliquam ac purus ut erat volutpat faucibus
  </h2>
  <div class="photo-group-grid">
    <div class="photo-grp-2">
      <div class="photo-grp-background">
        <%= image_tag('box.jpg') %>
      </div>
      <div class="photo-content">
        <div class="content-bottom-right">
          <h2>Aliquam ac purus</h2>
          <h3><a href="#">Learn more</a></h3>  
        </div>
      </div>
    </div>
    <div class="photo-grp-2">
      <div class="photo-grp-background">
        <%= image_tag('box.jpg') %>
      </div>
      <div class="photo-content">
        <div class="content-bottom-right">
          <h2>Aliquam ac purus</h2>
          <h3><a href="#">Learn more</a></h3>  
        </div>
      </div>
    </div>
  </div>
</section>