<div class="explore-mask" style="display: none;"></div>
<section class="slide-content">
  <button class="close-drawer-button">X</button>
  <div class="slide-content-wrapper" style="display: none;">
    <h1>Learn More About Tahoe</h1>

    <p>
      This is a bunch of explore content
    </p>
  </div>
</section>

<section class="center-photo-section">
  
  <div class="photo-background">
    <%= image_tag('box.jpg') %>
  </div>

  <div class="copy">
    <div class="header-container">
      <div class="text-wrapper">
        <div class="header-logo">
          <%= image_tag('logo.png', :class => 'img-responsive'); %>
        </div>
        <div class="blurb">
          <h1>
            Duis ligula orci, scelerisque ac enim sed
          </h1>

          <p>
            Quisque venenatis sollicitudin urna, nec suscipit velit faucibus non.
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="section-full no-padding">
  <h1>
    Duis sit amet est nibh.
  </h1>
  <h2>
    Aliquam ac purus ut erat volutpat faucibus
  </h2>
  <div class="photo-group-grid">
    <div class="photo-grp-2">
      <div class="photo-grp-background">
        <%= image_tag('box.jpg') %>
      </div>
      <div class="photo-content">
        <div class="content-bottom-right">
          <h2>Aliquam ac purus</h2>
          <h3><a href="#">Learn more</a></h3>  
        </div>
      </div>
    </div>
    <div class="photo-grp-2">
      <div class="photo-grp-background">
        <%= image_tag('box.jpg') %>
      </div>
      <div class="photo-content">
        <div class="content-bottom-right">
          <h2>Aliquam ac purus</h2>
          <h3><a href="#">Learn more</a></h3>  
        </div>
      </div>
    </div>
  </div>
  <div class="photo-group-grid">
    <div class="photo-grp-1">
      <div class="photo-grp-background">
        <%= image_tag('box-content-full.jpg') %>
      </div>
      <div class="photo-content">
        <div class="content-bottom-right">
          <h2>Aliquam ac purus</h2>
          <h3><a href="#">Learn more</a></h3>  
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-full">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Duis sit amet est nibh.
      </h1>
      <h2>
        Aliquam ac purus ut erat volutpat faucibus
      </h2>
    </div>
  </div>
</section>

<section class="section-full no-padding">
  <%= image_tag('property-map.jpg', :class => 'img-responsive') %>
</section>

<section class="section-full no-padding">
  <h1>
    Duis sit amet est nibh.
  </h1>
  <h2>
    Aliquam ac purus ut erat volutpat faucibus
  </h2>
  <div class="photo-group-grid">
    <div class="photo-grp-2">
      <div class="photo-grp-background">
        <%= image_tag('box.jpg') %>
      </div>
      <div class="photo-content">
        <div class="content-bottom-right">
          <h2>Aliquam ac purus</h2>
          <h3><a href="#">Learn more</a></h3>  
        </div>
      </div>
    </div>
    <div class="photo-grp-2">
      <div class="photo-grp-background">
        <%= image_tag('box.jpg') %>
      </div>
      <div class="photo-content">
        <div class="content-bottom-right">
          <h2>Aliquam ac purus</h2>
          <h3><a href="#">Learn more</a></h3>  
        </div>
      </div>
    </div>
  </div>
  <div class="photo-group-grid">
    <div class="photo-grp-2">
      <div class="photo-grp-background">
        <%= image_tag('box.jpg') %>
      </div>
      <div class="photo-content">
        <div class="content-bottom-right">
          <h2>Aliquam ac purus</h2>
          <h3><a href="#">Learn more</a></h3>  
        </div>
      </div>
    </div>
    <div class="photo-grp-2">
      <div class="photo-grp-background">
        <%= image_tag('box.jpg') %>
      </div>
      <div class="photo-content">
        <div class="content-bottom-right">
          <h2>Aliquam ac purus</h2>
          <h3><a href="#">Learn more</a></h3>  
        </div>
      </div>
    </div>
  </div>
</section>