<section class="hero-section hero-home">

  <div class="hero-photo">

    <div class="photo-background">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="/images/property-hero_large.jpg" media="(min-width: 991px)">
        <source srcset="/images/property-hero_medium.jpg" media="(min-width: 480px)">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/images/property-hero_small.jpg" alt="">
      </picture>
    </div>

  </div>

  <div class="hero-home-cta">
    <h1>Beautiful Homes.</h1>
    <h1>Amazing Destinations.</h1>
    <h1>Hotel Excellence.</h1>
    <ul>
      <li><a href="#">Telluride <span class="state">~ CO</span></a></li>
      <li><a href="#">Santa Barbara <span class="state">~ CA</span></a></li>
      <li><a href="#">Gulf Coast <span class="state">~ FL</span></a></li>
      <li><a href="#">Lake Tahoe <span class="state">~ CA</span></a></li>
      <li><a href="#">Maui <span class="state">~ HI</span></a></li>
      <li><a href="#">Breckenridge <span class="state">~ CO</span></a></li>
    </ul>
  </div>

</section>

<section class="home-scroll">
  <h1>
    Scroll to view our homes
  </h1>
</section>

<section class="home-getaways">
  <h1>
    We're Made For Greater Getaways
  </h1>
  <p>
    We started InvitedHome because finding great vacation homes with honest photography, consistent standards and responsive guest services just didn't exist. We've changed that. InvitedHome had been purpose-built to bring hotel excellence to beautiful vacation homes.
  </p>
</section>

<section class="home-reservations">
  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="/images/home-computer_large.jpg" media="(min-width: 991px)">
    <source srcset="/images/home-computer_medium.jpg" media="(min-width: 480px)">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/images/home-computer_small.jpg" alt="" class="img-responsive">
  </picture>
  <h1>
    Simple Reservations
  </h1>
  <p>
    We&#8217;ve designed our online booking to be as simple as booking a hotel room&#8212;except you get an amazing home. Need help finding the perfect place? Just call. We're here 24/7.
  </p>
</section>

<section class="home-staff">
  <h1>
    Local Staff
  </h1>
  <p>
    InvitedHome provides cleaning, repair and inspection services for every home in every destination. That means you can expect a consistently great experience no matter where you go.
  </p>
  <div class="home-carousel">
    <div class="item">
      <%= image_tag('home-single-team-mock.jpg', :class => 'img-responsive'); %>
      <%= image_tag('home-single-team-mock.jpg', :class => 'img-responsive'); %>
    </div>
    <div class="item">
      <%= image_tag('home-single-team-mock.jpg', :class => 'img-responsive'); %>
      <%= image_tag('home-single-team-mock.jpg', :class => 'img-responsive'); %>
    </div>
    <div class="item">
      <%= image_tag('home-single-team-mock.jpg', :class => 'img-responsive'); %>
      <%= image_tag('home-single-team-mock.jpg', :class => 'img-responsive'); %>
    </div>
    <div class="item">
      <%= image_tag('home-single-team-mock.jpg', :class => 'img-responsive'); %>
      <%= image_tag('home-single-team-mock.jpg', :class => 'img-responsive'); %>
    </div>
    <div class="item">
      <%= image_tag('home-single-team-mock.jpg', :class => 'img-responsive'); %>
      <%= image_tag('home-single-team-mock.jpg', :class => 'img-responsive'); %>
    </div>
    <div class="item">
      <%= image_tag('home-single-team-mock.jpg', :class => 'img-responsive'); %>
      <%= image_tag('home-single-team-mock.jpg', :class => 'img-responsive'); %>
    </div>
  </div>
</section>

<section class="home-service">
  <div class="service-clock">
    <h1>
      24/7 Service
    </h1>
    <p>
      We offer dedicated guest services to answer any questions you have during your stay. Like, "what's the best way to get into a hammock?" Or, "where is the turkey baster?"
    </p>
  </div>
</section>

<section class="home-handpicked">
  <div class="hero-photo">
    <div class="photo-background">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="/images/property-hero_large.jpg" media="(min-width: 991px)">
        <source srcset="/images/property-hero_medium.jpg" media="(min-width: 480px)">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/images/property-hero_small.jpg" alt="">
      </picture>
    </div>
    <div class="hero-description">
      <h1>
        Handpicked Homes
      </h1>
      <p>
        We&#8217;re proud of the homes that represent InvitedHome. We only accept the best and showcase them with clear photography and accurate descriptions to make your decision easy.
      </p>
    </div>
    <div class="hero-caption">
      <h2>
        Montecito Beach Estate ~ A West Coast Camelot
      </h2>
    </div>
  </div>
</section>

<section class="home-partner">
  <h1>
    One Partner
  </h1>
  <p>
    Unlike other services that aggregate individually managed listings, we look after and manage every detail for every home you see here. So, no more juggling property owner emails and details. Just us. Just simple.
  </p>
  <a href="#" class="teaser-btn">
    Pick a Destintaion
  </a>
</section>